@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;
@use 'sass:map';

.bi-list {
  color: map.get(var.$color, 'Bright Gold');

  &:hover {
    opacity: 0.8;
  }
}

.offcanvas {
  .offcanvas-header {
    .btn-close {
      background-color: transparent;
    }
  }

  .offcanvas-body {
    padding: 0;

    .list-group {
      padding: 0;
      font-weight: bold;
      font-size: 1.2rem;

      @include mix.vertical-list;

      .list-group-item {
        width: 100%;
        padding: 0.5rem 1rem;
        color: map.get(var.$color, 'Bright Gold');

        &:hover {
          background-color: map.get(var.$color, 'Bright Gold');
          color: map.get(var.$color, 'Mineral Green');
        }
      }
    }
  }
}
